</div>
<div class="footer-padding"></div>
<% const year = new Date().getFullYear() %>
<div class="footer">
  <p>Made with ❤️ by <a href="https://vikash5203.github.io/CV-CSS/" target="_blank" rel="noopener noreferrer">Vikash</a> | Copyright © <%= year%> </p>
</div>
</div>
</body>

</html>
